.container {
  width: 350px;
  margin: 30px auto;
  background-color: rgb(255, 238, 204);
  padding: 20px;
  border-radius: 15px;
}
#input_image {
  margin: auto;
  color: blue;
}
#upload_image {
  margin: auto;
}

h2 {
  text-align: center;
}

#preview {
  width: 100%;
  margin-top: 20px;
  display: none;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  background: rgb(1, 92, 152);
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #01c7bd;
  opacity: 0.9;
}

#result {
  margin-top: 20px;
  padding: 15px;
  background: #e8ffe8;
  border: 1px solid green;
  border-radius: 5px;
  display: none;
}
